.section {
    display: flex;
    font-size: 1.2rem;
}

.hero {
    display: flex;
    align-items: center;
    margin-top: 5rem;
}

.brand {
    display: flex;
    flex-wrap: none;
    justify-content: center;
    height: 7rem;
}

